
<style>
    .navbar{
        background-color: #333;
        position:relative;
       
    }
    .navbar-brand{
       color: white;
       font-weight: 800; 
       font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        
    }
    li{
      float: left;  
    }
    .nav-link{
        display: inline;
        color: white;
        text-align: center;
        font-size: 18px;
        padding: 14px 16px;
        text-decoration: none;  
        margin-left: 30px;
    }
    a:hover{
        color: bisque;
    }
    form{
        float: right;
    }
</style>


<div class="container-fluid">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
        <a class="navbar-brand" href="#">NEWS GALORE</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <br>
                <li class="nav-item">
                    <a class="nav-link" href="/top-headlines">Top Headlines</a>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>



